/**
 * This file is the base CSS file, containing a minimum set of directives
 * which are common to all themes and ensure a consistent rendering.
 *
 * Note: Specific themes CSS files are located in themes/[name]/, and style.css
 * is the main file that will be looked for.
 */

/**
 * Since all the imports must be done before declaring any other rule, we
 * declare the structure and global rules (ex: body, html, *) in a dedicated
 * file and import it first.
 */
@import '~./structure.css';

@import '~sprite.css';
@import '~./ui/buttons.css';
@import '~./ui/tables.css';
@import '~./ui/alerts.css';
@import '~./ui/input-with-addon.css';
@import '~./ui/buttons-group.css';
@import '~./ui/label-component.css';
@import '~./ui/tabs.css';
@import '~./ui/foldable-panel.css';

/* Use this class to hide an element which should be readable by screen
 readers. */
.screen-reader-text {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    width: 1px;
    overflow: hidden;
    position: absolute !important;
    word-wrap: normal !important;
}

/* Spinnerz gonna spin. This is loaded in the base CSS to display a spinner
 while the theme is loaded. */
@-webkit-keyframes spin3 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spin3 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.spinner {
    font-size: 10px;
    margin: 50px auto;
    text-indent: -9999em;
    width: 11em;
    height: 11em;
    border-radius: 50%;
    background: #0055FF;
    background: -moz-linear-gradient(left, #0055FF 10%, rgba(0, 85, 255, 0) 42%);
    background: -webkit-linear-gradient(left, #0055FF 10%, rgba(0, 85, 255, 0) 42%);
    background: -o-linear-gradient(left, #0055FF 10%, rgba(0, 85, 255, 0) 42%);
    background: -ms-linear-gradient(left, #0055FF 10%, rgba(0, 85, 255, 0) 42%);
    background: linear-gradient(to right, #0055FF 10%, rgba(0, 85, 255, 0) 42%);
    position: relative;
    -webkit-animation: spin3 1.4s infinite linear;
    animation: spin3 1.4s infinite linear;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
}

.spinner::before {
    width: 50%;
    height: 50%;
    background: #0055FF;
    border-radius: 100% 0 0 0;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
}

.spinner::after {
    background: #FFFFFF;
    width: 75%;
    height: 75%;
    border-radius: 50%;
    content: '';
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

#app > .spinner {
    display: block;
}

.clickable {
    cursor: pointer;
}

.not-clickable {
    cursor: not-allowed;
}

.right-align {
    display: flex;
    justify-content: flex-end;
}

.c3-axis-x,
.c3-axis-y,
.c3-legend-item {
    fill: var(--charts-axis-color);
}

.c3-xgrids path,
.c3-ygrids path,
.c3-axis-x line,
.c3-axis-y line,
.c3-axis-x path,
.c3-axis-y path {
    stroke: var(--charts-axis-color);
}

.dygraph-axis-label,
.dygraph-legend {
    color: var(--charts-axis-color);
    background-color: transparent;
}
