.input-with-addon {
    display: inline-flex;
    border: none;
}

.input-with-addon.block {
    display: flex;
}

.input-with-addon > * {
    /* Put the borders on the children to avoid background-clip issues */
    border-radius: 0;
    border-style: solid;
    border-color: #CFD9DB;
    border-width: 1px 0;
    flex-shrink: 0;
    padding: 6px 12px;
    background-color: #EEEEEE;
}

.input-with-addon > *:focus {
    border-radius: 0;
}

.input-with-addon > input {
    flex: auto;
    background-color: white;
    overflow: hidden;

    /* By setting a width of 50px the item will still take as much width as possible due to the
    flexbox but won't take too much space from intrinsic width. */
    width: 50px;
}

.input-with-addon > .kbtn {
    box-shadow: none;
}

.input-with-addon > .kbtn:hover {
    background-color: transparent;
}

.input-with-addon > * + * {
    border-left-width: 1px;
}

.input-with-addon > :first-child {
    border-left-width: 1px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.input-with-addon > :last-child {
    border-right-width: 1px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
