@import '~../default/style.css';

header {
    background-color: #494F59;
}

main nav {
    background-color: #F5F6F7;
    border-right: 1px solid #D6D8DA;
    color: #444444;
}

table caption {
    background-color: transparent;
}

span.badge {
    background-color: #494C59;
    color: #E4E4E4;
}

.kalerts {
    background-image: none !important;
}

.bank-details .icon {
    height: 48px;
    width: 48px;
    border-radius: 0;
    border: 2px solid #CBCBCB;
    margin-left: 0;
}

.bank-details .bank-name {
    color: inherit;

    /* 50px (icon) + 8px (margin) */
    width: calc(100% - 58px);
}

.bank-details .bank-name .bank-sum {
    color: #898A8E;
}

.bank-details > li {
    border: none;
}

.bank-details > li.active .bank-name {
    color: #6792D8;
}

.bank-details > li > .accounts {
    margin-left: 0;
}

.bank-details > li > .accounts > li {
    margin-bottom: 1px;
}

.bank-details a {
    color: inherit;
}

.bank-details .amount.positive {
    color: #0D59D2;
}

.bank-details > li > .accounts > li a {
    border-left: 4px solid #CECECE;
    color: inherit;
}

.bank-details > li > .accounts > li a:hover,
.bank-details > li > .accounts > li a:active {
    border-left-color: #6792D8;
    background-color: #E4E4E4;
}

.bank-details > li > .accounts > li a.active {
    background-color: #6792D8;
    border-left-color: transparent;
    color: white;
}

.bank-details > li > .accounts > li a.active:hover,
.bank-details > li > .accounts > li a.active:active {
    border-left-color: #5959D4;
}

.bank-details > li > .accounts > li a.active .amount.positive {
    color: white;
}

.bank-details > li > .accounts > li a.active .amount.negative {
    color: #F5A4A4;
}

.sidebar-section-list {
    border-top: 1px solid #C9CBD0;
    padding-top: 15px;
}

.sidebar-section-list li {
    color: inherit;
    padding: 0;
    border: none;
    background: none;
    background-color: transparent;
}

.sidebar-section-list li > a {
    color: #7F8081;
}

.sidebar-section-list li > a.active {
    background: #E4E4E4;
    color: #0D59D2;
}

.sidebar-about {
    color: inherit;
}

.operation-wells .well {
    border: 1px solid currentColor;
    border-radius: 0;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.2);
    position: relative;
}

.well-icon {
    border-radius: 0;
    background-color: transparent;
    float: none;
    margin: 0;
    color: white;
    display: flex;
    font-size: 30px;
    text-align: center;
    width: 60px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    justify-content: center;
}

@media (max-width: 1350px) {
    .operation-wells .well-icon {
        height: 100%;
    }
}

@media (max-width: 620px) {
    .operation-wells .well-icon {
        background-color: white;
        width: 100%;
        height: auto;
        position: static;
    }
}

.well-title,
.well-sub {
    color: inherit;
}

.operation-wells .well.amount-well-balance {
    color: var(--wells-balance-color);
    background-color: transparent;
}

.operation-wells .well.amount-well-received {
    color: var(--wells-received-color);
    background-color: transparent;
}

.operation-wells .well.amount-well-spent {
    color: var(--wells-spent-color);
    background-color: transparent;
}

.operation-wells .well.amount-well-saved {
    color: var(--wells-saved-color);
    background-color: transparent;
}

@media (max-width: 620px) {
    .operation-wells .well-icon {
        color: inherit;
    }
}

@media (min-width: 620px) {
    .operation-wells .well.amount-well-balance .well-icon {
        background-color: var(--wells-balance-color);
        color: white;
    }

    .operation-wells .well.amount-well-received .well-icon {
        background-color: var(--wells-received-color);
        color: white;
    }

    .operation-wells .well.amount-well-spent .well-icon {
        background-color: var(--wells-spent-color);
        color: white;
    }

    .operation-wells .well.amount-well-saved .well-icon {
        background-color: var(--wells-saved-color);
        color: white;
    }
}

.well-icon * {
    align-self: center;
}

.operation-table caption {
    border: none;
    padding-left: 0;
    padding-right: 0;
}

.operation-table caption > div {
    justify-content: flex-end;
}

@media (max-width: 620px) {
    .operation-table caption > div {
        justify-content: center;
    }
}

.operation-table caption h3 {
    display: none;
}

.operation-table caption .actions {
    margin-left: 0;
}

.operation-table thead th {
    border-top: none;
}

.operation-table td {
    vertical-align: middle;
    border-left: none;
    border-right: none;
}

@media (max-width: 620px) {
    .operation-table th,
    .operation-table td {
        padding-left: 5px;
        padding-right: 5px;
    }
}

.foldable-panel {
    border-radius: 0;
}

.foldable-panel > h3 {
    background-color: transparent;
}

.operation-table {
    border: 0;
}

.operation-table th,
.operation-table td {
    border-left: 0;
    border-right: 0;
}

.operation-table tr:nth-last-child(2) td {
    border: 0;
}
